body{
    padding: 100px;
}
.submit-area{
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
   
}
#transaction-area{
    display: none;
}
.status{
    margin: 0 30px;
    color: white;
    padding: 30px;
    border-radius: 10px;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.Balance{
    background-color: orange;
}